

#product-tiles {
    width: 100%;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px 16px;
  }
  
  .product-item {
    flex: 0 0 calc(33.33% - 20px);
    max-width: 230px;
    overflow: hidden; /* Ensures the product item doesn't stretch to accommodate taller content */
  }
  
  .product-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .product-details .product-details-price {
    font-size: 12px;
    color: #898989;
    letter-spacing: 0.36px;
    display: inline-block;
    padding-top: 2px;
  }
  
  .product-details .product-details-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    color: #141414;
    padding: 8px 0px 3px 0px;
    margin:0px;
  }
  .product-details .product-details-name .brand-name {
    color: #a8917f;
  }
  
  .product-details .product-details-size {
    font-size: 16px;
    line-height: 1.5;
    color: #383838;
    margin:0px;
  }
  .product-details .product-details-rental {
    font-size: 16px;
    line-height: 1.5;
    color: #383838;
    margin: 0px;
  }
  
  @media (max-width: 768px) {
    /* show one by one tile in mobile  */
    .product-container {
        flex-direction: column;
    }
    .product-item {
      width: 100%;
      margin: 0 auto;
    }
  }